extends layout

block content
    h1 Oauth Test
    if errorMessage
        p.errorMessage
            span= errorMessage
    p Goal is to have twitter, google+, facebook, and local working.
    if user
        p Logged in as 
            span= user.local.username
            span= user.facebook.name
    
    a(href="/signout", title="sign out") Sign Out
